/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 280px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 280px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 10pt;
}

#usa {
  width: 18px;
  height: 16px;
  margin-bottom: 3px;
}
/*-----------------------------------------------*/

body {
  padding-top: 50px;
}

#wrapper {
  padding: 40px 15px;
  text-align: center;
}

#mainContent {
  border: solid #E2E2E2 1px;
}

.checkbox {
  float: left
  clear: left;
  ;}
  #criteria {
    padding: 10px;
    border-bottom: solid #E2E2E2 1px;
    margin-bottom: 10px;
  }
  #dateLocal {
    margin-bottom: 20px;
  }
  #sortByCriteria {
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid #E2E2E2 1px;
  }
  #resultsSection {
    margin-top: 5px;
    text-align: left;
  }
  .chooseHotel {
    margin-top: -15px;
  }
  .hotelThumbnail {
    width: 144px;
  }
  .resultItem {
    padding: 10px;
  }

  .resultItem:hover {
    background-color: #f5f5f5;
  }

  /*Search Field Styling
-------------------------------------------------- */

#searchFields {
  padding-top: 20px;
  padding-bottom: 20px;
}

  /*Jumbotron Styling
-------------------------------------------------- */
#jumbotron {
}
.leftSideBar {
  text-align: left;
}
/*-----------------------------Navbar Styling----------- */
.navbar-default {
  background-color: #cc0033;
  border-color: #7f0020;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #e8dde0;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #e8dde0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #e8dde0;
  background-color: #7f0020;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #e8dde0;
  background-color: #7f0020;
}
.navbar-default .navbar-toggle {
  border-color: #7f0020;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #7f0020;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #e8dde0;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e8dde0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e8dde0;
    background-color: #7f0020;
  }
}

#suitcase {
  display:inline;
}

#hotelLocation {
  width: 17em;
}